hr {
    border: 0;
    height: 1px;
    background: #333;    
}

.fab {
  background: #205D7A;
	color: #fff;
	width: 80px;
	height: 60px;
	border-radius: 20px;
	font-size: 35px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

#welcome-section {
  height: 100vh;
} 

#projects {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 300px) {
  #social-media {
    display: flex;
  }
}
